@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background-color: #1E1E1E;
  color: white;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #0FA958;
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

