.container{
    color: #0fa958;
    background-color: #2F2F2F;
    width: fit-content;
    margin: 20px;
    border: 1px solid #0fa958;
}
.textContent{
    padding: 5px 10px;
}
.title{
    margin: 4px 0px;
    color: white;
    font-weight: 400;
}