.form{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    width: 300px;
    border-radius: 50px;
    outline: none;
    padding: 8px 15px;
    border: 2px solid #0fa958;
    margin-bottom: 5px;
    font-size: 18px;
}
.button{
    width: 300px;
    border-radius: 50px;
    height: 35px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #0fa958;
    color: white;
}

// For larger screens
@media screen and (min-width:600px){
    .form{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .input{
        width: 600px;
        height: 40px;
        margin-bottom: 0;
    }
    .button{
        width: 120px;
        height: 40px;
        margin-left: 10px;
    }
}
